header {
  padding: 5px;
  background-color: #144552;
}

/* nav container, remove bullets, move elemenets to same line */
header nav ul li{
  list-style-type: none;
  display: inline;
  padding: 35px;
}

/* remove line beneath links */
header nav li a{
  text-decoration-line: none;
  color: rgb(221, 221, 221)
}

.text-info {
  color: rgb(221, 221, 221);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  margin: 10px 0px 0px 0px;
}

h2 {
  font-size: 17px;
}

/* shrink image */
img {
  max-width: 35%;
  height: auto;
}

.wrapper {
  width: 100%;
  margin: auto;
}

main {
  background-color: #272640;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

/* shorten horizontal line */
hr {
  width: 46%;
}

/*edit ul list headers for software, remove bullet 
left move entire list to center with this format */
.list-style {
  color: rgb(221, 221, 221);
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
}

/*change to square */
main article ul {
  list-style-type: square;
  list-style-position: outside;
}

main article a {
  color: rgb(221, 221, 221)
}

main article a:hover{
  color: #144552;
}

footer {
  background-color: #144552;
  padding: 1px;
}

.link-placeholder {
  margin: 45px;
}

.group{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item {
 flex: 1;
 margin-right: auto;
 margin-left: auto;
}

.item-two {
  flex: 1;
  margin: auto;
}

@media all and (max-width: 800px){
  .list-margin {
    margin-left: 25px;
  }
}

@media all and (min-width: 800px){
  
  .group {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .group-large {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .wrapper {
    width: 80%;
    margin: auto;
  }

  .item-two {
    flex: 1;
    margin: 50px;
  }
}